@import url('https://fonts.googleapis.com/css?family=Dosis|Sigmar+One');

.like{
    float: right;
    
}

.dislike{
    float: left;
}

.clear-div {
    content: "";
    clear: both;
    display: table;
}

.card {
    padding: 5px;
}

#restName {
    font-size: 250%;
    font-family: 'Sigmar One', cursive;
    color: yellow;
}

#rating, #genre, #price {
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    text-align: center;

}

#restaurantImage {
    top: 8px
}

/* #restaurantImage {
    height: 400px%;
    width: 600px;
} */

@media screen and (min-width: 600px) {
.card{
    position: relative;
    top: 65px;
    left: 150px;
}
}

@media screen and (min-width: 900px) {
    .card{
        position: relative;
        top: 65px;
        left: 195px;
    }
    }

